@page "/"

<PageTitle>Good Hamburger</PageTitle>

<div class="container text-center mt-5">
    <h1>Good Hamburger</h1>
    <p class="lead">O melhor hamburguer da cidade!</p>
    <div class="d-flex gap-3 justify-content-center mt-4">
        <a href="/pedido/novo" class="btn btn-warning btn-lg">Fazer pedido</a>
        <a href="/pedidos" class="btn btn-outline-secondary btn-lg">Ver pedidos</a>
    </div>
</div>
